/** Styling rules **/
.field {
    background-color:grey;
}

.field:hover {
    background-color: red;
}

/** Tracking rules **/
#type {
    content: url("track.php?action=screen_start");
}

#link1:active::after {
    content: url("track.php?action=link1_clicked");
}

/*
#link1:hover::after {
    content: url("track.php?action=link1_hover_start");
}*/

#link2:active::after {
    content: url("track.php?action=link2_clicked");
}

#link3:active::after {
    content: url("track.php?action=link3_clicked");
}

@-webkit-keyframes pulsate {
    0% {background-image: url("track.php?duration=00")}
    20% {background-image: url("track.php?duration=20")}
    40% {background-image: url("track.php?duration=40")}
    60% {background-image: url("track.php?duration=60")}
    80% {background-image: url("track.php?duration=80")}
    100% {background-image: url("track.php?duration=100")}
}
@-moz-keyframes pulsate {
    0% {background-image: url("track.php?duration=00")}
    20% {background-image: url("track.php?duration=20")}
    40% {background-image: url("track.php?duration=40")}
    60% {background-image: url("track.php?duration=60")}
    80% {background-image: url("track.php?duration=80")}
    100% {background-image: url("track.php?duration=100")}
}
@keyframes pulsate {
    0% {background-image: url("track.php?duration=00")}
    10% {background-image: url("track.php?duration=10")}
    20% {background-image: url("track.php?duration=20")}
    30% {background-image: url("track.php?duration=30")}
    40% {background-image: url("track.php?duration=40")}
    50% {background-image: url("track.php?duration=50")}
    60% {background-image: url("track.php?duration=60")}
    70% {background-image: url("track.php?duration=70")}
    80% {background-image: url("track.php?duration=80")}
    90% {background-image: url("track.php?duration=90")}
    100% {background-image: url("track.php?duration=100")}
}

#duration:hover::after {
    -moz-animation: pulsate 5s infinite;
    -webkit-animation: pulsate 5s infinite;
    /*animation: pulsate 5s infinite;*/
    animation-name: pulsate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    content: url("track.php?duration=-1");
}

#s1:hover::after {
    content: url("track.php?action=s1_hovered");
}

#s2:hover::after {
    content: url("track.php?action=s2_hovered");
}

#s3:hover::after {
    content: url("track.php?action=s3_hovered");
}

#s4:hover::after {
    content: url("track.php?action=s4_hovered");
}

/* Taken from http://browserhacks.com/ */
@supports (-webkit-appearance:none) {
    #chrome_detect::after {
        content: url("track.php?action=browser_chrome");
    }
}

@supports (-moz-appearance:meterbar) {
    #firefox_detect::after {
        content: url("track.php?action=browser_firefox");
    }
}


/** Font detection **/
@font-face {
    font-family: Font1;
    src: url("track.php?action=font1");
}

#font_detection1 {
    font-family: Calibri, Font1;
}


/** input tests */
#text_input:valid {
    background: green;
    background-image: url("track.php?action=text_input");
}


/** Orientation detection **/

@media (orientation: portrait) {
    #orientation {
        content: url("track.php?orientation=portrait");
    }
}

@media (orientation: landscape) {
    #orientation {
        content: url("track.php?orientation=landscape");
    }
}

/* Width part of the Resolution */

@media (device-width: 1024px) {
    #width {
        content: url("track.php?width=1024");
    }
}

@media (device-width: 1366px) {
    #width {
        content: url("track.php?width=1366");
    }
}

@media (device-width: 1280px) {
    #width {
        content: url("track.php?width=1280");
    }
}

@media (device-width: 1920px) {
    #width {
        content: url("track.php?width=1920");
    }
}

/* Height part of the resolution */
@media (device-height: 768px) {
    #height{
        content: url("track.php?height=768");
    }
}

@media (device-height: 720px) {
    #height {
        content: url("track.php?height=720");
    }
}

@media (device-height: 1080px) {
    #height {
        content: url("track.php?height=1080");
    }
}

/* We need this, because only the height of the browser window counts, and the windows bar makes this area smaller */
@media (min-height: 1000px) and (max-height: 1080px) {
    #height {
        content: url("track.php?height=1080");
    }
}

@media (device-height: 1366px) {
    #height {
        content: url("track.php?height=1366");
    }
}

